<div class="page-logo">
    <a href="@Url.Action("Dashboard","Home")" class="page-logo-link press-scale-down d-flex align-items-center position-relative">
        <img src="~/img/logo.png" aria-roledescription="logo">
        <span class="page-logo-text mr-1">eConnect</span>
        <span class="position-absolute text-white opacity-50 small pos-top pos-right mt-n2">NAVITASYS</span>
    </a>
</div>