@model eConnectV2.ViewModels.BISViewModel
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewData["Title"] = "SMT FPY - Manual";
    ViewData["HeaderTitle"] = "SMT FPY Dashboard";
    ViewData["URL"] = Url.Action("Dashboard", "Home");
}

@section HeadBlock {
    <link rel="stylesheet" media="screen, print" href="~/css/formplugins/bootstrap-datepicker/bootstrap-datepicker.css">
}

<div class="panel">
    <div class="row ml-1 pt-2 pb-2">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-2">
                    <select asp-for="LineNo" class="select2 custom-select w-100" required asp-items="@(new SelectList(Model.LineNoList, "Value", "Text"))">
                        <option value="">-- Select --</option>
                    </select>
                    <span id="Plant" hidden>@Model.Plant</span>
                    <input asp-for="FromTime" type="hidden" value="" />
                    <input asp-for="ToTime" type="hidden" value="" />
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-block btn-secondary waves-effect waves-themed fs-xxl p-0">
                        <span id="ModelName" class="text-white font-weight-bolder"></span>
                    </button>
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        <input asp-for="Date1" autocomplete="off" class="form-control datepickertext" type="text" placeholder="dd-mmm-yyyy" required data-date-format="dd-M-yyyy" />
                        <div class="input-group-append">
                            <span class="input-group-text fs-xl">
                                <i class="fal fa-calendar-alt"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <select asp-for="Shift" class="select2 custom-select form-control w-100" required asp-items="@(new SelectList(Model.ShiftList, "Value", "Text"))">
                        <option value="0">-- Select --</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <a href="javascript:void(0)" class="btn btn-block btn-default waves-effect waves-themed fs-xxl p-0" onclick="GetData()">
                        <i class="fas fa-sync-alt"></i>
                        Refresh
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="row">
        <div class="col-md-12">
            <table id="tbl_FPY" border="1" style="width:100%; border-color:#E9E9E9;color:#000">
                <thead class="thead-themed">
                    <tr class="bd-highlight tbl_heading">
                        <th class="text-center">Time</th>
                        <th class="text-center">Total</th>
                        <th class="text-center">First Pass</th>
                        <th class="text-center">Second Pass</th>
                    </tr>
                </thead>
                <tbody class='text-nowrap'>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section ScriptsBlock
{
    <script src="~/js/formplugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script>
        const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

        //// Bind Controls ////
        $(document).ready(function () {
            $(function () {
                $('.select2').select2();
                runDatePicker();
            });
            var controls = {
                leftArrow: '<i class="fal fa-angle-left" style="font-size: 1.25rem"></i>',
                rightArrow: '<i class="fal fa-angle-right" style="font-size: 1.25rem"></i>'
            }
            const dt = new Date();
            var runDatePicker = function () {
                $('#Date1').datepicker({
                    todayHighlight: true,
                    orientation: "bottom left",
                    templates: controls,
                    autoclose: true,
                    endDate: '-0d'
                });
            }
            $('#Date1').val(String("0" + dt.getDate()).slice(-2) + '-' + monthNames[dt.getMonth()] + '-' + dt.getFullYear());

            FillLines();
            $('#LineNo').on('select2:select', function (e) {
                $("#ModelName").text(e.params.data.id);
                GetShiftDetailsByShift($("#Shift option:selected").text());
            });
            $('#Shift').on('select2:select', function (e) {
                GetShiftDetailsByShift(e.params.data.text);
            });
        });

        //// Fill Line No ////
        function FillLines() {
            var requestUrl = 'BIS/FillSMTAllLinesForFPY';
            $.post(requestUrl,
                {
                    plant: $('#Plant').text()
                },
                function (data) {
                    $.each(data.lineNoList, function (index, item) {
                        $("#LineNo").append($("<option></option>").val(item.value).html(item.text));
                    });
                });
        }

        function GetShiftDetailsByShift(Shift) {
            var requestUrl = 'BIS/GetShiftDetails';
            const dt = new Date();
            $.post(requestUrl,
                {
                    plant: $('#Plant').text(),
                    shift: Shift
                },
                function (model) {
                    $("#FromTime").val(model.fromTime);
                    $("#ToTime").val(model.toTime);
                });
        }


        //// Invoke Refresh to get UPPH Data ////
        function GetData() {
            if ($('#LineNo').val() == 0) {
                Swal.fire("Select Line No", "", "error");
            }
            else if ($('#ModelName').text() == "") {
                Swal.fire("Select Model", "", "error");
            }
            else {
                FillFPYData();
            }
        }

        //// Fill UPPH Data ////
        function FillFPYData() {
            var lineNoVal = $("#LineNo option:selected").text();
            var shiftVal = $("#Shift option:selected").val()

            if (lineNoVal != null) {
                var requestUrl = 'BIS/GetSMTFPYHourly';
                $.post(requestUrl,
                    {
                        plant: $('#Plant').text(),
                        mode: 'MANUAL',
                        lineNo: lineNoVal,
                        fpyDate: $('#Date1').val(),
                        shift: shiftVal,
                        fromTime: $('#FromTime').val(),
                        toTime: $("#ToTime").val()
                    },

                    function (data) {
                        $('#tbl_FPY tbody').empty();
                        var row = "";
                        var count = 0;
                        $.each(data, function (index, item) {
                            count = count + 1;
                            row += "<tr class='tbl_heading'>";
                            row += "<td class='text-center'>" + (item.fromTime).split(" ")[1] + "  -  " + (item.toTime).split(" ")[1] + "</td>";
                            row += "<td class='text-center'>" + item.total + "</td>";
                            row += "<td class='text-center'>" + item.firstPass + "</td>";
                            row += "<td class='text-center'>" + item.secondPass + "</td>";
                            row += "</tr>";
                        });
                        if (count == 0) {
                            row += "<tr class='no-records-found text-left text-info'><td colspan='19'>No record found</td></tr>";
                        }
                        $("#tbl_FPY tbody").html(row);
                    });
            }
        }
    </script>
    <style>
        .tbl_heading {
            font-size: 36px;
            font-weight: 500;
        }

        .select2-selection__rendered {
            font-size: 18px;
            line-height: 1.3;
            font-weight: bolder;
        }

        .datepickertext {
            font-size: 18px;
            line-height: 1.3;
            font-weight: bolder;
        }
    </style>
}
