@model eConnectV2.ViewModels.ITViewModel
@{
    ViewData["Title"] = "Asset Pending Requests";
    ViewData["PageHeading"] = "Asset";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeadBlock {
    <link rel="stylesheet" media="screen, print" href="~/css/formplugins/bootstrap-datepicker/bootstrap-datepicker.css">
}
<div class="panel p-2">
    <div class="panel-content-show">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-3">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bold">From</label>
                            <div class="col-sm-9">
                                <input asp-for="Date1" onchange="FillData();" autocomplete="off" class="form-control datepickertext" type="text" required data-date-format="dd-M-yyyy" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bold">To</label>
                            <div class="col-sm-9">
                                <input asp-for="Date2" onchange="FillData();" autocomplete="off" class="form-control datepickertext" type="text" required data-date-format="dd-M-yyyy" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table id="dt-hs" class="table w-100 table-bordered table-sm table-hover table-striped nowrap">
                        <thead class="bg-primary-800">
                            <tr>
                                <th class="notexport" width="5%" style="text-align:center">Action</th>
                                <th>Req No</th>
                                <th>Status</th>
                                <th>Req Date</th>
                                <th hidden>Plant</th>
                                <th hidden>Requestor Code</th>
                                <th>Requestor Name</th>
                                <th>Req Type</th>
                                <th>Department</th>
                                <th>Subject</th>
                                <th hidden>Description</th>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section ScriptsBlock {
    <script src="~/js/defaultformvalidate.js"></script>
    <script src="~/js/rowdelete.js"></script>
    <script src="~/js/datagrid/datatables/datatables.bundle.js"></script>
    <script src="~/js/datagrid/datatables/datatables.export.js"></script>
    <script src="~/js/formplugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script>
        $(document).ready(function () {
            $('.select2').select2();
            runDatePicker();
            FillData();
        });

        var controls = {
            leftArrow: '<i class="fal fa-angle-left" style="font-size: 1.25rem"></i>',
            rightArrow: '<i class="fal fa-angle-right" style="font-size: 1.25rem"></i>'
        }
        var runDatePicker = function () {
            $('#Date1, #Date2').datepicker({
                todayHighlight: true,
                orientation: "bottom left",
                templates: controls,
                autoclose: true
            });
        }


        function FillData() {
            var date1 = $("#Date1").val();
            var date2 = $("#Date2").val();
            var data1 = '';
            var pageName = '';
            $.ajax({
                url: '/IT/FillAssetPendingReqList',
                type: "POST",
                data: { date1: date1, date2: date2 },
                success: function (data, status) {
                    $("#dt-hs tbody").empty();
                    $("#dt-hs").DataTable().destroy();
                    $.each(data, function (index, item) {
                        
                        data1 += '<tr>';
                        data1 += '<td class="text-center bg-primary-gradient" align="center">';
                        if (item.status == 1) {
                            data1 += '<a title="View" href="IT/' + pageName + '?Dno=' + item.param1 + '"><i class="fa fa-eye text-info mr-1"></i></a>';
                            data1 += '<a title="Cancel" href="javascript:void(0);" onclick="CancelHelpDeskRequest(' + item.requestNo + ')"><i class="fa fa-ban text-danger"></i></a>';
                        }
                        else {
                            data1 += '<a title="View" href="IT/AssetApprAdd?Dno=' + item.param1 + '&Uid=' + item.param2 + '&Utp=' + item.param3 + '">';
                            data1 += '<i class="fa fa-eye text-info mr-1" ></i ></a>';
                        }
                        data1 += '</td>';
                        data1 += '<td>' + item.requestNo + '</td>';
                        data1 += '<td>' + item.statusDescr + '</td>';
                        data1 += '<td>' + item.tDate + '</td>';
                        data1 += '<td hidden>' + item.plant + '</td>';
                        data1 += '<td hidden>' + item.empCode + '</td>';
                        data1 += '<td>' + item.empName + '</td>';
                        data1 += '<td>' + item.type + '</td>';
                        data1 += '<td>' + item.deptName + '</td>';
                        data1 += '<td>' + item.subject + '</td>';
                        data1 += '<td hidden>' + item.descr1 + '</td>';
                        data1 += '</tr >';
                    });
                    $("#dt-hs tbody").html(data1);
                    $('#dt-hs').dataTable({
                        responsive: false,
                        lengthChange: false,
                        "pageLength": 20,
                        dom:
                            "<'row'<'col-sm-12 col-md-4 d-flex align-items-center justify-content-start'f><'col-sm-12 col-md-4 d-flex align-items-center justify-content-center'i><'col-sm-12 col-md-4 d-flex align-items-center justify-content-end'lB>>" +
                            "<'row'<'col-sm-12'tr>>" +
                            "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                        //dom:
                        //    //"<'row'<'col-sm-12 col-md-6 d-flex align-items-center justify-content-start'f><'col-sm-12 col-md-6 d-flex align-items-center justify-content-end'lB>>" +
                        //    //"<'row'<'col-sm-12'tr>>" +
                        //    //"<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                        buttons: [
                            {
                                extend: 'excelHtml5',
                                text: 'Download',
                                title: null,
                                titleAttr: 'Download',
                                className: 'btn-outline-dark btn-xs mr-1',
                                exportOptions: {
                                    columns: ':not(.notexport)'
                                }
                            },
                        ]
                    });
                },
                error: function () {
                },
            });
        }
    </script>
}