@model eConnectV2.ViewModels.ITViewModel
@{
    ViewData["Title"] = "IT Asset";
    ViewData["PageHeading"] = "Asset Request View";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Mode = ViewBag.TagAttribute;
}

@section HeadBlock {
    <link rel="stylesheet" media="screen, print" href="~/css/formplugins/bootstrap-datepicker/bootstrap-datepicker.css">
}
<div id="panel-1" class="panel p-2">
    <div class="panel-content-show">
        <div class="row">
            <div class="col-md-12 row">
                <div class="col-md-2 align-self-center">
                    <a class="btn btn-warning pt-1" onclick="window.location='@Url.Action("AssetReqAdd","IT")'" style="height:25px;" title="AssetRequestAdd ">
                        <i class="fas fa-plus mr-1"></i>Add
                    </a>
                </div>
                <div class="col-md-3">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label font-weight-bold">From</label>
                        <div class="col-sm-9">
                            <input asp-for="Date1" onchange="FillData();" autocomplete="off" class="form-control datepickertext" type="text" required data-date-format="dd-M-yyyy" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label font-weight-bold">To</label>
                        <div class="col-sm-9">
                            <input asp-for="Date2" onchange="FillData();" autocomplete="off" class="form-control datepickertext" type="text" required data-date-format="dd-M-yyyy" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label font-weight-bold">Status</label>
                        <div class="col-sm-8">
                            <select asp-for="Status" onchange="FillData();" asp-items="@(new SelectList(Model.StatusList, "Value", "Text"))" class="select2 custom-select form-control w-100">
                                <option value="0">-- Select --</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table id="dt-hs" class="table w-100 table-bordered table-sm table-hover table-striped nowrap">
                        <thead class="bg-primary-800">
                            <tr>
                                <th class="notexport" width="5%" style="text-align:center">Action</th>
                                <th>ReqNo</th>
                                <th>Status</th>
                                <th>Pending With</th>
                                <th>Plant</th>
                                <th>Requestor Code</th>
                                <th>Requestor Name</th>
                                <th>Department</th>
                                <th>Contact NO</th>
                                <th hidden>Email</th>
                                <th>Asset Type</th>
                                <th>Equipment Type</th>
                                <th>Subject</th>
                                <th>Description</th>
                                <th>Remarks</th>
                                <th>UserId</th>
                                <th>TDATE</th>
</thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section ScriptsBlock {
    @*<script src="~/js/datagrid/datatables/dths_excel.js"></script>*@
    <script src="~/js/defaultformvalidate.js"></script>
    <script src="~/js/rowdelete.js"></script>
    <script src="~/js/datagrid/datatables/datatables.bundle.js"></script>
    <script src="~/js/datagrid/datatables/datatables.export.js"></script>
    <script src="~/js/formplugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script>
        $(document).ready(function () {
            $('.select2').select2();
            runDatePicker();
            FillData();
        });

        var controls = {
            leftArrow: '<i class="fal fa-angle-left" style="font-size: 1.25rem"></i>',
            rightArrow: '<i class="fal fa-angle-right" style="font-size: 1.25rem"></i>'
        }
        var runDatePicker = function () {
            $('#Date1, #Date2').datepicker({
                todayHighlight: true,
                orientation: "bottom left",
                templates: controls,
                autoclose: true
            });
        }

        function FillData() {
            var status = $("#Status").val();
            var date1 = $("#Date1").val();
            var date2 = $("#Date2").val();
            var data1 = '';
            $.ajax({
                url: '/IT/FillAssetReqViewList',
                type: "POST",
                data: { date1: date1, date2: date2, status: status },
                success: function (data, status) {
                    $("#dt-hs tbody").empty();
                    $("#dt-hs").DataTable().destroy();
                    $.each(data, function (index, item) {
                        data1 += '<tr>';
                        data1 += '<td class="text-center bg-primary-gradient" align="center">';
                        data1 += '<a title="View" href="IT/AssetReqAdd?Dno=' + item.param2 + '&Utp=' + item.param3 + '">';
                        data1 += '<i class="fa fa-eye text-info mr-1" ></i ></a>';
                        data1 += '<a title="Cancel" href="javascript:void(0);" onclick="CancelAssetRequest(' + item.requestNo + ')"><i class="fa fa-ban text-danger"></i></a>';
                        data1 += '</td>'; 
                        data1 += '<td>' + item.requestNo + '</td>';

                        if (item.statusDescr == 'Cancelled') {
                            data1 += '<td style ="color:red">' + item.statusDescr + '</th>';
                        }
                        else {
                            data1 += '<td style ="color:black">' + item.statusDescr + '</td>';
                        }
                        data1 += '<td>' + item.apprName + '</td>';
                        //data1 += '<td>' + item.statusDescr + '</td>';
                        data1 += '<td>' + item.plant + '</td>';
                        data1 += '<td>' + item.empCode + '</td>';
                        data1 += '<td>' + item.empName + '</td>';
                        data1 += '<td>' + item.deptName + '</td>';
                        data1 += '<td>' + item.contactNo + '</td>';
                        data1 += '<td hidden>' + item.email + '</td>';
                        data1 += '<td>' + item.type + '</td>';
                        data1 += '<td>' + item.equipCatg + '</td>';
                        data1 += '<td>' + item.subject + '</td>';
                        data1 += '<td>' + item.descr1 + '</td>';
                        data1 += '<td>' + item.remarks + '</td>';
                        data1 += '<td>' + item.userID + '</td>';
                        data1 += '<td>' + item.tDate + '</td>';
                        data1 += '</tr >';
                    });
                    $("#dt-hs tbody").html(data1);
                    $('#dt-hs').dataTable({
                        responsive: false,
                        lengthChange: false,
                        "pageLength": 20,
                        dom:
                            "<'row'<'col-sm-12 col-md-4 d-flex align-items-center justify-content-start'f><'col-sm-12 col-md-4 d-flex align-items-center justify-content-center'i><'col-sm-12 col-md-4 d-flex align-items-center justify-content-end'lB>>" +
                            "<'row'<'col-sm-12'tr>>" +
                            "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                        //dom:
                        //    //"<'row'<'col-sm-12 col-md-6 d-flex align-items-center justify-content-start'f><'col-sm-12 col-md-6 d-flex align-items-center justify-content-end'lB>>" +
                        //    //"<'row'<'col-sm-12'tr>>" +
                        //    //"<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                        buttons: [
                            {
                                extend: 'excelHtml5',
                                text: 'Download',
                                title: null,
                                titleAttr: 'Download',
                                className: 'btn-outline-dark btn-xs mr-1',
                                exportOptions: {
                                    columns: ':not(.notexport)'
                                }
                            },
                        ]
                    });
                },
                error: function () {
                },
            });
        }

        function CancelAssetRequest(requestNo) {
            Swal.fire({
                title: "Are you sure to cancel ?",
                type: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, cancel Request!"
            }).then(function (result) {
                if (result.value) {
                    var requestUrl = '/IT/CancelAssetRequest';
                    $.ajax({
                        url: requestUrl,
                        type: "POST",
                        data: { requestNo: requestNo },
                        success: function (response) {
                            if (response.flag == _errorStatus) {
                                Swal.fire("Info!", response.msg, "error");
                            } else {
                                Swal.fire("Cancelled!", response.msg, "success").then(function () {
                                    window.location.reload();
                                })
                            }
                        },
                        error: function () {
                            Swal.fire("Oops...", "Something went wrong!", "error");
                        }
                    });
                }
            });
        }



    </script>
}